* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Figtree', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: 100vw;
	min-height: 100vh;
	color: white;
	background-color: var(--background-color);
}

:root {
	--background-color: #151515;
	--accent-color: #39ace7;
  --light-color: #DAFFFB;
  --gray-color: #D9D9D9;
	--max-width: 1200px;
}

button {
  outline: none;
  border: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}